{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Boiler Room unofficial podcast feed</title>

	<meta charset="utf-8">

	<link rel="alternate" type="application/rss+xml" href="{% url 'rss' %}" />

    <link rel="shortcut icon apple-touch-icon apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{% static 'icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="{% static 'favicon.ico' %}">

	<!-- https://github.com/KeenRivals/bestmotherfucking.website -->
	<style>
		body {
			margin: 1em auto;
			max-width: 40em;
			padding: 0 .62em;
			font: 1.2em/1.62 sans-serif;
		}

		h1, h2, h3 {
			line-height: 1.2;
		}

		@media print {
			body {
				max-width: none
			}
		}
	</style>
</head>
<body>
    <header>
        <h1><a href="https://boilerroom.tv/"><img src="{% static 'artwork.png' %}" alt="Boiler Room" height="100" /></a><br> unofficial podcast feed</h1>
    </header>


    <main>
        <p>Boiler Room has an app but doesn't provide good ol' RSS, so here's a feed for your favourite podcasts app:</p>

        <a rel="alternate" type="application/rss+xml" href="{% url 'rss' %}">All Recordings</a>

        <section>
            <h2>Channel Feeds</h2>
            <p>Recordings curated by style:</p>
        </section>
        <ul>
            {% for channel in channels %}
                <li>
                    <a href="{{ channel.get_absolute_url }}">{{ channel.title }}</a>: {{ channel.description }}
                </li>
            {% endfor %}
        </ul>

        <section>
            <h2>Genre Feeds</h2>
            <p>Recordings filtered by genre:</p>
            <ul>
                {% for genre in genres %}
                    <li>
                        <a href="{{ genre.get_absolute_url }}">{{ genre.title }}</a>{% if genre.description %}: {{ genre.description }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <hr>

    <footer class="row">
        <p>🏴‍☠️ product 🛠 by <a href="http://jeffbr13.net">Ben Jeffrey</a>.</p>
        <p><a href="https://github.com/jeffbr13/br-rss">Source code</a> available under the <a href="https://www.mozilla.org/MPL/2.0/">MPL 2.0</a>.</p>
    </footer>
</body>
</html>
